
.carousel-inner{
    display:flex;
    margin: auto;
    width: 20%;
    padding: 0px;

}
#blacktext{

    color: black;
    font-weight: bold;
    font-size:30px;
    left: 35px;
}

#whitetext{

    color: white;
    font-weight: bold;
    font-size:30px;

}

#whitetextdis{

    color: white;
    font-weight: bold;

}