.container {
    position: relative;
    text-align: center;
    color: white;
  }

  .bottom-left {
    position: absolute;
    top: 600px;
    left: -10px;
  }

  .fixNav{


      position: fixed;     
      text-align: center;
      width: 100%;
      height: 200px;
  }